*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    outline: none;
}
button{
    cursor: pointer;
}
.navBar{
    position: fixed;
    padding: 5px;
    width: 100%;
    height: 50px;
    background-color: #4365b3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#user{
    /* color: black; */
    /* //font-family: 'Sofia'; */
    font-size: 1.5em;
    text-align: center;
    float: left;    
}
.icon-img{   
    margin-top: 8px;
    width:20px;
    height: 20px;
    float:left;
}
#destino{
    color: #fff;
    /* //font-family: 'Sofia'; */
    font-size: 2em;
    width: 80%;
    text-align: center;
}
#navBtn{
    padding: 0px;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
}
#navBtnImg{
    float: right;
    width: 20px;
    height: 20px;
    background-position:center;
    background-size:auto;
    background-attachment:fixed;

}
#navDesp{
    z-index: 1;
    float: right;
    position: relative;
    margin-top: 60px;
    margin-right: 3px;
    height: 80px;
    width: 150px;
    background-color: #4365b3;
    visibility: hidden;
    border-radius: 0px 0px 5px 5px;
}

#navDesp button{
    position: relative;
    width: 100%;
    height: 30px;
    border: 0;
    font-size: 1em;
    background-color: #4365b3;
    text-align: center;
    align-content: center;
    color: white;
    margin-top: 5px;
    cursor:pointer;    
}
#navDesp img{
    margin-left:4px;
    margin-top:2px;
}

#navDesp button:hover{    
    background-color: #FE4A49;    
}
/* #verTabla{
    position: relative;
    width: 100%;
    height: 30px;
    border: 0;
    font-size: 1em;
    background-color: #FE4A49;
    text-align: center;
    align-content: center;
    color: white;
    margin-top: 5px;
}
#cerrarS{
    position: relative;
    width: 100%;
    height: 30px;
    border: 0;
    font-size: 1em;
    background-color: #FE4A49;
    text-align: center;
    align-content: center;
    color: white;
    margin-top: 5px;
}    */
.texto{
    /* //font-family: 'Sofia'; */
}
.contenedor{
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    width: 100%;
    top: 60px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    /* margin-top: 15px; */
    background: #f3f3f3;
}
    .elem{
        height: 95%;
        padding: 10px;
        display: flex;
        background-color: #ffffff;
        flex-basis: 40%;
        align-items: center;
    }   
        .texto{
            font-family: 'Sofia',;
            font-size: 2rem;
        }
        .bus{
            padding: 10px;
            margin: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            flex-grow: 1;
            height: calc(100% - 2.5rem);
        }  
.botones{
    padding: .625rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}   
    .btnEst{
        width: 150px;
        height: 30px;
        border: 0;
        font-size: 1em;
        margin: .625rem;
        border-radius: 7px;
        color: white;
        text-align: center;
    }
    /* #verTabla{
        background-color: #4365b3;
    }
    #cerrarS{
        background-color: #FE4A49;
    } */
.contOpciones{
    height: 65%;
    width: 80%;
    padding: .625rem;
    display: flex;
    justify-content: space-around;
}
    .contOpciones > div{
        display: flex;
        flex-direction: column;
        margin: .625rem;
        width: 45%;
        align-items: center;
        justify-content: center;  
    }
    .opcion{
        border-radius: 25px;
        color: #fff;
        background-color: #FE4A49;
        width: 90%;
        height: 35px;;
        border: 0;
        padding: 5px;
    }
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.25rem;
}  
p{
    text-align: center;
    color: rgb(41, 43, 49);
    padding: 5px;
    width: 100%;
    /* font-size: 1.5em; */
}
input{
    width: 60%;
    height: 30px;
    margin: 5px;
    border: 0;
    border-bottom: 2px;
    border-bottom: solid;
    border-bottom-color: #003362;
    font-size: 1.2em;
    text-align: center;
    align-content: center;
    cursor: pointer;
}
.llenado{
    background-color: #4365b3;
}
.limite {
    padding: 3px;
    background-color:#CDCDCD;
    width:100px;
    height: 20px;
    border-radius: 7px;
    margin-bottom: .75rem;
}
.grafica{
    background-color:#4365b3;
    width: 0%;
    height: 100%;
    border-radius: 7px;
}
.grafic2{
    background-color:#FE4A49;
}

#horarios{
    position: fixed;
    top: 12%;
    left: 10%;
    width: 80%;
    height: 80%;
    visibility: hidden;
    background-color: #CDCDCD;
    opacity: 0.95;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap-reverse;
    flex-direction: column;
}
#xTabla{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 20px;
    height: 20px;
    border: 0;
    font-size: 1em;
    background-color: #FE4A49;
    margin-bottom: 15px;
    text-align: center;
    align-content: center;
    border-bottom-right-radius: 7px;
    color: white;
}
#ahora{
    color: #FE4A49;
}
table, th, td {
  border: 2px solid #4365b3;
  background-color: #CDCDCD;
  opacity: 1;
  text-align: center;
  border-collapse: collapse;
}
th, td{
    padding: 5px;
}

@media screen and (max-width: 39.9375em){
    body{
        height: 180vh;
    }
    div{
        box-sizing: border-box;
    }
    .navBar{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 3.75rem;
        padding: 0px;
    }   
        #navBtnImg{
            width: 20px;
            height: 20px;
        }
        #user{
            display: none;
        }
        #destino{
            font-size: 1.5rem;
        }
    .contenedor{
        flex-wrap: wrap;
        background: #fff;
    }   
        .elem{
            margin-bottom: .625rem;
        }
            .bus{
                margin: 0;
                padding: .625rem;
                height: auto;
                background: #f3f3f3;
            }
            .top{
                padding: .625rem;
                box-sizing: border-box;
            }
            .contOpciones{
                width: 100%;
                padding: 0;
            }
                .contOpciones > div > input{
                    font-size: 1rem;
                }
}
@media screen and (min-width: 40rem) and (max-width: 63.9375rem){
    div{
        box-sizing: border-box;
    }
    .navBar{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 3.75rem;
        padding: 0px;
    }   
        #navBtnImg{
            width: 20px;
            height: 20px;
        }
        #user{
            display: none;
        }
        #destino{
            font-size: 1.5rem;
        }
    .contenedor{
        flex-wrap: wrap;
        background: #f3f3f3;
    }   
        .elem{
            height: 80%;
        }
            .bus{
                margin: 0;
                padding: .625rem;
                height: 100%;
                /* background: #f3f3f3; */
            }
            .top{
                padding: .625rem;
                box-sizing: border-box;
            }
            .contOpciones{
                width: 100%;
                padding: 0;
            }
                .contOpciones > div > input{
                    font-size: 1rem;
                }
}
 