*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    outline: none;
}
body{
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    height: calc(100vh - .625rem);
    width: calc(100vw - .3125rem);
}
div{
    box-sizing: border-box;
}
.bienvenido{
    text-align: center;
    color: #003362;
    padding: 5px;
}
    .bienvenido > p{
        font-family: 'Sofia', cursive;
        font-size: 2.5em;
    }
.buses{
    padding: .625rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 10;
}
    .elem{
        height: 95%;
        padding: 10px;
        display: flex;
        background-color: #ffffff;
        flex-basis: 40%;
        align-items: center;
    }   
        .texto{
            font-family: 'Sofia', cursive;
            font-size: 2rem;
        }
        .bus{
            padding: 10px;
            margin: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            flex-grow: 1;
            height: calc(100% - 1.25rem);
        }  
.botones{
    padding: .625rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}   
    .btnEst{
        width: 150px;
        height: 30px;
        border: 0;
        font-size: 1em;
        margin: .625rem;
        border-radius: 7px;
        color: white;
        text-align: center;
    }
    #verTabla{
        background-color: #4365b3;
    }
    #cerrarS{
        background-color: #FE4A49;
    }
.contOpciones{
    height: 65%;
    width: 80%;
    padding: .625rem;
    display: flex;
    justify-content: space-around;
}
    .contOpciones > div{
        display: flex;
        flex-direction: column;
        margin: .625rem;
        width: 45%;
        align-items: center;
        justify-content: center;  
    }
    .opcion{
        border-radius: 25px;
        color: #fff;
        background-color: #FE4A49;
        width: 90%;
        height: 35px;;
        border: 0;
        padding: 5px;
    }
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.25rem;
}  
p{
    text-align: center;
    color: rgb(41, 43, 49);
    padding: 5px;
    width: 100%;
    font-size: 1.5em;
}
input{
    width: 60%;
    height: 30px;
    margin: 5px;
    border: 0;
    border-bottom: 2px;
    border-bottom: solid;
    border-bottom-color: #003362;
    font-size: 1.2em;
    text-align: center;
    align-content: center;
    
}
.llenado{
    background-color: #4365b3;
}
.limite {
    padding: 3px;
    background-color:#CDCDCD;
    width:100px;
    height: 20px;
    border-radius: 7px;
    margin-bottom: .75rem;
}
.grafica{
    background-color:#4365b3;
    width: 0%;
    height: 100%;
    border-radius: 7px;
}
.grafic2{
    background-color:#FE4A49;
}

#horarios{
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    visibility: hidden;
    background-color: #CDCDCD;
    opacity: 0.95;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}
#xTabla{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 20px;
    height: 20px;
    border: 0;
    font-size: 1em;
    background-color: #FE4A49;
    margin-bottom: 15px;
    text-align: center;
    align-content: center;
    border-bottom-right-radius: 7px;
    color: white;
}

#ahora{
    color: #FE4A49;
}
table, th, td {
  border: 2px solid #4365b3;
  background-color: #CDCDCD;
  opacity: 1;
  text-align: center;
  border-collapse: collapse;
}
th, td{
    padding: 5px;
}

@media screen and (max-width: 39.9375em){
    
}
@media screen and (min-width: 40rem) and (max-width: 63.9375rem){
    
}
 