*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}
body{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f3f3f3;
}
    .elemPrin{
        padding: 10px;
    }
    .deco{
        background-image: url("../img/deco.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-basis: 40%;
        align-items: center;
        height: 90%;
    }
        .inDeco{
            border: 0;
            border-radius: 15px;
            color: rgb(41, 43, 49);
            background-color: rgba(255, 255, 255, .6);
        }
            .boton{
                border-radius: 25px;
                color: #fff;
                background-color: #FF5A74;
                width: 35%;
                height: 40px;;
                border: 0;
                padding: 5px;
                font-weight: 700;
            }
            .registrar{
                align-self: center;
            }
            .deco .nombre{
                color: #fff;
            }
    .login{
        display: flex;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #ffffff;
        flex-basis: 40%;
        align-items: center;
        height: 90%;
    }   
        .texto{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .texto > p{
            font-weight: 700;
        }
        .nombre{
            text-align: center;
            color: #003362;
            font-family: 'Sofia', cursive;
            font-size: 2.5em;
            padding: 5px;
            width: 100%;
        }
        p{
            text-align: center;
            color: rgb(41, 43, 49);
            padding: 5px;
            width: 100%;
            font-size: 1.25em;
        }
        form{
            padding: 10px;
            margin: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            flex-grow: 1;
            height: calc(100% - 40px);
        }
        input{
            width: 60%;
            height: 30px;
            padding: 5px;
            margin: 5px;
            border: 0;
            border-bottom: 2px;
            border-bottom: solid;
            border-bottom-color: #656880;
            font-size: 1.25em;
            background-color: #fff;
            text-align: center;
            outline: none;
        }
            
@media screen and (max-width: 39.9375em){
    body{
        height: auto;
        flex-flow: column-reverse wrap;
    }
    .login{
        margin-top: .75rem; 
    }
    .elemPrin{
        height: auto;
        margin-bottom: 3rem;
        width: calc(95% - 2.5rem);
        border-radius: 10px;
    }
    form{
        justify-content: center;
        height: auto;
        margin-top: 3rem; 
        margin-bottom: 1.5rem;
    }
    input{
        width: 80%;
        margin-top: 2.75rem;
        margin-bottom: 2.75rem; 
    }
    .deco > form > input{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem; 
    }
    .boton{
        width: 80%;
    }
}
@media screen and (min-width: 40rem) and (max-width: 63.9375rem){
    body{
        height: auto;
        flex-flow: column-reverse wrap;
    }
    .login{
        margin-top: .75rem; 
    }
    .elemPrin{
        height: auto;
        margin-bottom: 3rem;
        width: calc(95% - 2.5rem);
        border-radius: 10px;
    }
    form{
        justify-content: center;
        height: auto;
        margin-top: 3rem; 
        margin-bottom: 1.5rem;
    }
    input{
        width: 80%;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem; 
    }
    .boton{
        width: 40%;
    }
    .deco > form > input{
        margin-top: 1rem;
        margin-bottom: 1rem; 
    }
}
            