*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}
body{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f3f3f3;
}
    .elemPrin{
        padding: 10px;
    }
    .deco{
        background-image: url("../img/deco.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-basis: 40%;
        align-items: center;
        height: 90%;
    }
        .inDeco{
            border: 0;
            border-radius: 6px;
            color: rgb(41, 43, 49);
            background-color: rgba(255, 255, 255, .6);
            outline:none;
        }
            .boton{
                /* border-radius: 25px; */
                border-radius: 6px;
                color: #fff;
                background-color: #FE4A49;
                width: 35%;
                height: 40px;;
                border: 0;
                padding: 5px;
                font-weight: 700;
                cursor:pointer;
                box-shadow:2px 2px 2px 0px rgba(0,0,0,0.75);
            }
            
            .registrar{
                align-self: center;
            }
            .deco .nombre{
                color: #fff;
            }
    .login{
        display: flex;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #ffffff;
        flex-basis: 40%;
        align-items: center;
        height: 90%;
    }   
        .texto{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .texto > p{
            font-weight: 700;
        }
        .nombre{
            text-align: center;
            color: #003362;
            font-family: 'Sofia',;
            font-size: 2.5em;
            padding: 5px;
            width: 100%;
        }
        p{
            text-align: center;
            color: rgb(41, 43, 49);
            padding: 5px;
            width: 100%;
            font-size: 1.25em;
        }
        form{
            padding: 10px;
            margin: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            flex-grow: 1;
            height: calc(100% - 40px);
        }
        input{
            width: 60%;
            height: 30px;
            padding: 5px;
            margin: 5px;
            border: 0;
            border-bottom: 2px;
            border-bottom: solid;
            border-bottom-color: #656880;
            font-size: 1.25em;
            background-color: #fff;
            text-align: center;
            outline: none;
        }

/* MODAL */
@keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
.modalNone{
    display:none;
}
.modal, .modal2, .modal3{    
    box-sizing: border-box;
    position: absolute;
    width: 50%;
    height: 25%;
    /* background: #f3f3f3d9; */
    background-color:white;
    top: 37.5%;
    left: 25%;
    padding: .3125rem;
    box-shadow: 0px 2px 10px 0px;
    border-radius: 5px;    
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-duration: 1.5s;
}
@keyframes modalOut {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);        
    }  
    to {
        opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      display:none; 
    }
  }
.modalOut{
    box-sizing: border-box;
    position: absolute;
    width: 50%;
    height: 25%;    
    background-color:white;
    top: 37.5%;
    left: 25%;
    padding: .3125rem;
    box-shadow: 0px 2px 10px 0px;
    border-radius: 5px;   
    display:none; 
    -webkit-animation-name: modalOut;
    animation-name: modalOut;
    animation-duration: 1.5s;
}
    .contInt{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: .3125rem;
        box-sizing: border-box;
    }
        .errHeader{
            padding: .3125rem;
            text-align: center;
            font-size: 1.25rem;
            color: #003362;
        }
            .errHeader > h2{
                font-family: 'Sofia',;
                font-size: 1.75rem;
            }
        .errMsg{
            flex-grow: 1;
            font-family: 'Poppins', sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            .errMsg > p{
                padding-top: 1rem;
                text-align: center;    
                font-size: 1.15rem;
                width: calc(100% - .625rem);
            }
            #aceptar{
                /* position: absolute; */
                /* bottom: 1.25rem; */
                /* right: 2.5rem; */
                width: 6.25rem;
                height: auto;
                border: none;
                background: #FF5A74;
                box-sizing: border-box;
                padding: .3125rem .625rem;
                color: #fff;
                border-radius: 25px;
                outline: none;
                margin: 1rem auto 1rem auto;
                font-size: 1rem;
            }
            
@media screen and (max-width: 39.9375em){
    body{
        height: auto;
        flex-flow: column-reverse wrap;
    }
    .login{
        margin-top: .75rem; 
    }
    .elemPrin{
        height: auto;
        margin-bottom: 3rem;
        width: calc(95% - 2.5rem);
        border-radius: 10px;
    }
    form{
        justify-content: center;
        height: auto;
        margin-top: 3rem; 
        margin-bottom: 1.5rem;
    }
    input{
        width: 80%;
        margin-top: 2.75rem;
        margin-bottom: 2.75rem; 
    }
    .deco > form > input{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem; 
    }
    .boton{
        width: 80%;
    }
}
@media screen and (min-width: 40rem) and (max-width: 63.9375rem){
    body{
        height: auto;
        flex-flow: column-reverse wrap;
    }
    .login{
        margin-top: .75rem; 
    }
    .elemPrin{
        height: auto;
        margin-bottom: 3rem;
        width: calc(95% - 2.5rem);
        border-radius: 10px;
    }
    form{
        justify-content: center;
        height: auto;
        margin-top: 3rem; 
        margin-bottom: 1.5rem;
    }
    input{
        width: 80%;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem; 
    }
    .boton{
        width: 40%;
    }
    .deco > form > input{
        margin-top: 1rem;
        margin-bottom: 1rem; 
    }
}
            